.modal {
    z-index: 101;
    position: fixed;
    background-color: #6D2932;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}
.modalContent {
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    padding-bottom: 20px;
}
.closeModal {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 2; /* Adjust the z-index value to be higher than other elements */
    display: flex;
    justify-content: flex-end; 
}
.closeModal button {
    background-color: #E8D8C4;
    border: transparent;
    border-radius: 50px;
    padding: 5px 10px;
    color: #6D2932;
    font-size: 15px;
    transition: all 0.3s;
    opacity: 0.7;
}
.closeModal button:hover {
    opacity: 1;
    transform: scale(1.1);
}
.redirectBtns {
    display: flex;
    justify-content: center;
}
.redirectBtns button {
    padding: 10px 50px;
    width: 100%;
    background-color: #E8D8C4;
    border: transparent;
    color: #6D2932;
    transition: all 0.3s;
    margin-top: 30px;
    
}
.fa-arrow-right-long {
    margin-left: 2px;
    transition: all 0.3s;
}
.redirectBtns button:hover .fa-arrow-right-long {
    margin-left: 5px;
}
.redirectBtns button:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}
.modalHeader {
    height: 150px;
    display: flex;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3)
}
.headerInfo {
    margin: 0 10px;
}
.headerInfo h2 {
    color: #E8D8C4;
}
.headerInfo p {
    color: #6D2932;
    margin-top: -15px;
}
.healthTags {
    padding: 0 10px;
    color: #E8D8C4;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
.indTag {
    color: #391319;
    margin: -0.1px 0;
    transition: all 0.3s;
}
.indTag:hover {
    color: #C7B7A3;
    text-decoration: underline;
}


  

  