* {
    font-family: "Montserrat", serif;
}
html, body {
    margin: 0;
}
.App {
    background: rgba(232,216,196,1);
    min-height: 100vh;
}
.header {
    padding: 170px 0;
    background-image: url('header_image.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6),
    0 0 50px 20px #561C24;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #E8D8C4;
    margin-bottom: 60px;
    font-size: 45px;
    transition: 0.5s;

}
h1:hover {
    transform: scale(1.05);
}
.inputDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}
.clearSearch {
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    border: transparent;
    margin-left: -50px;
    z-index: 1;
    color: #561C24;
    transition: all 0.3s;
}
.clearSearch:hover {
    filter: brightness(1.5);
    transform: scale(1.2);
}
.searchBox {
    padding: 15px;
    margin-right: 10px;
    width: 25%;
    border-radius: 50px;
    border: solid #C7B7A3;
    transition: all 0.3s;
    background-color:  #C7B7A3;
    font-size: 20px;
    outline: none;
    opacity: 0.7;
}

.searchBox:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

.recipesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}

.recipeCard {
    margin-right: 20px;
    width: auto;
    margin-bottom: 50px;
}
.modalOpen {
    pointer-events: none;
}
.modalOpen .modal {
    pointer-events: auto;
}
.app-background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

